body {
    font-family: "Muli", sans-serif;
    color: #030303;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(176, 172, 164);

  }

.image-logo{
    float: left;
    height: 100%;
    width: 8vw;
}

.video-container{
     width: 100vw;
     min-height: 100vh;
     position: relative;
}
/* 
.video-container .bg-img img{
    width: 100vw;
    min-height: 100vh;
    position: relative;
} */

.video-container h1{
    font-weight: bolder;
    font-style: italic; 
    font-family: fantasy;
    position: absolute;
    text-align: center;
    color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;    
    z-index: -1;
    filter: opacity(50%);

}

.body-container{
    height: 63vh;
    width: 100%;
    background-color: transparent;
}

.body-image-right{
    height: 63vh;
    width: 40vw;
    float: right;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
     
}

img{
    width: 93%;
    height: 100%;
    float: left;
}

.about-content{
    height: 63vh;
    width: 50vw;
    margin-left: 5vw;
    /* background-color: black; */
}
 
#name{
    size: 25px;
    margin-top: 25px;
    font-style: bold;
    padding-left: 39px;
    padding-top:39px ;
}

#summary-about{
    padding-left: 39px;
}

button{
margin-top: 39px; 
margin-left: 39px;
}

#contact-me{
    text-align: center;
    font-size: larger;
    color: #000;
    padding-left: 39px;
    padding-top:39px ;
    font-weight: 600;
}

.footer-contact li{
    list-style-type: none;
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}

 a{
text-decoration:none;
color: #000;
}

li :hover{
    font-style: oblique;
    font-size: 20px;
    color: rgb(247, 241, 241);
}
 li a.active {
    background-color: #04AA6D;
    color: white;
  } 

  .about-container {
    height: 73vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}

.about-container #about{
    font-size: larger;
    font-size: 30px;
    margin-top: 2vh;
    text-align: center;
    padding-bottom: 5vh;
    text-decoration: wavy;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pic-about{
    margin-left: 4vw;
    height: 45vh;
    width: 25vw;
}

  
 .info{
    height: 45vh;
    width: 70vw;
    margin-right: 1vw;
    background-color: transparent;
    float: right;
 }

 .services{

    height: 50vh;
    width: 100%;
    margin-top: 5vh;

 }

 .android{
    height: 50vh;
    width: 32vw;
    float: left;
    margin-left: 1vw;
    padding-top: 1vh;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #333;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
 

  .android:hover{
    font-style: oblique;
    font-size: 20px;
    color: antiquewhite;
    background-color: #333
}

/* Image animation */

.body-image-right img{
    transition: 1s ease;
    }
    
.body-image-right img:hover{
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: 1s ease;
    border-radius: 25px;

    }

.pic-about img{ 

    transition: 1s ease;

}
   
#btn-index{
    width: 7vw;
    height: 5vh;
}
        
.pic-about img:hover{

    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: 1s ease;
    border-radius: 25px;

 }

.skill-container{
    width: 100vw;
    height: 60vh;
    margin-top: 5vh;
    padding-top: 2vh;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
        }
        
        .get {
            display:none;
        }

        .img{
            background-color: transparent;
            font: 1em sans-serif;
            
        }

        svg{

            height: 3vh;
            width: 3vw;
            margin-top: 5px;

        }

        .img img{

            width: 5vh;
            height: 5vw;
            
        }
        
        .socials_icons{
            height: 8vh;
            width: 30vw;
            margin-left: 40vw;
        }

        .socials_icons img{
            height: 3vh;
            width: 2vw;
            border-radius: 5px;
        }

        .socials_icons li{
            float: left;
            margin-left: 2vw;
            list-style: none;
            text-align: center;
            margin-top: 1vh;
        }

        /* Contact Page CSS */

       
      .contact-container{

        height: 90vh;
        width: 100vw;
        /* background: rgb(176, 172, 164); */
        overflow-x: hidden;
        padding: 10px;

      }

      .map-location{
        height: 75vh;
        width: 69vw;
        margin-right: 1%;
        float: left;
        background-color: transparent ;

      }
    
      .call-us{
        height: 75vh;
        width: 27%;
        float: right;
        margin-right: 1vw;
        background-color: #333;
      }

      .text-us{
        height: 50vh;
        width: 100%;
        /* background-color: rgb(176, 172, 164); */
        float: left;
      }

      .call-us li {
        list-style: none;

        }

    .contact-container h1{
      margin-left: 40px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     

      }

    .contact-container .text-us h1{
        margin-left: 0px;  
      } 

    form{
        height: 50vh;
        width: 100vw;
        padding: 10px;
    }

    form .name{
        height: 10vh;
        width: 30vw;
        border-radius: 15px;
        border: 2px solid #ccc;
        margin-bottom: 5px;
    }

    form .message{
        height: 32vh;
        width: 65vw;
        float: right;
        margin-right: 25px;
        border-radius: 15px;
        border: 2px solid #ccc;
        margin-bottom: 5px;

    }
    form .subject{
        height: 10vh;
        width: 30vw;
        border-radius: 15px;
        border: 2px solid #ccc;
        margin-bottom: 5px;

    }
    form  .email{
        height: 10vh;
        width: 30vw;
        border: 2px solid #ccc;
        float: left;
        border-radius: 15px;
    }

     /* .text-us  */
     button{
        height: 7vh;
        width: 10vw;
        /* float: right; */
        border-radius: 25px;
        border: 2px solid #333;
    } 

    /* .text-us  */
     button:hover {
        background-color: #333;
        color: whitesmoke;
    } 

    .email-text-container{
        height: 40vh;
        width: 100vw;
        background-color: transparent;
    } 

    .call-us h1{

        margin-top: 5vh;
        /* text-align: center; */
        margin-bottom: 5vh;
        text-decoration: double;

    }
    .call-us ul li{

        color: #ccc;
        margin-left: 2.6vw;


    }